span.phone-number input{
    width: 118px;
}

span.phone-number {

}
.phone-code:before,
.phone-code:after {
    vertical-align: top;
    color: #53769d;
    padding-top: 8px;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 5px;
}
.phone-code:before {
    content: '(';
}

.phone-code:after {
    content: ')';
}

span.phone-code input{
    width: 50px;
}

span.phone-code {
    width: 65px;
    display: inline-flex;

}
